.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family:'Source Sans Pro', sans-serif;
  font-size:11px;
}

.main-header {
  border: 1px solid gray;
  border-bottom: none;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 5px;
}

.main-flight-container {
  border: 1px solid gray;
}

.main-flight-container div {
  padding: 0px;
}

.filter-direction-selection {
  margin: 10px 0px 0px 15px;
}

.nav-tabs {
  margin-bottom: 0;
  border-bottom: none;
}


.filter-bar {
  border-right: 1px solid gray;
}

.date-airport-filter {
  padding: 5px !important;
  margin: 1px 5px 5px 5px;
  border: 1px solid gray;
}

.price-filter {
  padding: 10px !important;
  margin: 5px;
  border: 1px solid gray;
}

.search-results-main .user-selected-dates{
  margin-top: 10px;
  text-align: right;
  padding-right: 10px !important;
}

.search-results-header {
  margin: 0px;
}

.search-results-header h3 {
  padding-left: 10px;
}

.no-results-bar {
  margin: 0px;
}

.result-row {
  border: 1px solid gray;
  margin: 10px;
}

.result-text-column {
  padding: 5px 0px 0px 5px !important;
}

.result-text-column .from-to {
  font-size: 14px;
}

.total-price {
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
  margin-top: 30px;
}

.select-flight-buttons {
  margin-top: 30px;
  font-size: 12px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
